body{
  font-family: "Arima", system-ui, sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

}

#logo img{
  width: 50px;
}



.nakymaContainer{
  background-color:rgb(16, 15, 15);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  height: auto;
  color: white;
  display: flex;
}


.projektiContainer{
  background-color:rgb(16, 15, 15);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  color: white;
   
}


  



.embed-responsive-item{
  width: 40vw;
  height: 57vh;
  
}





#nakyma{
  justify-content:center;
  align-items: center;
  overflow: hidden;
}

#esittelyteksti {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.infokuvat{
  width: 70%;
  height: auto;
  max-width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  
}

#omakuva {
  width: 70%;
  height: auto;
  max-width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.tekstit {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


#omakuva.visible {
  opacity: 1;
}

.tekstit.visible {
  opacity: 1;
  transform: translateX(0);
}

.dropdown-item img{
  width: 30px;
  align-items: center;
  margin-right: 10px;

}



footer{

  justify-content:center;
  align-items: center;
  padding-right: 10px;
  text-align: right;
  color: white;
  background-color:rgb(16, 15, 15);
  font-size: small;
  width: 100%;


}

@media only screen and (min-width: 300px) and (max-width:1300px){
  .peli-ikkuna{
    width: 100%;
    height: 100%;
   
  }
  
  .embed-responsive-item{
    width: 90vw;
    height: 60vh;
  }
  

}






