body{
  font-family: "Arima", system-ui, sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:rgb(16, 15, 15);

}




#logo img{
  width: 50px;
}

#navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:rgb(16, 15, 15);
  padding: 50px 50px 10px 50px;
  
}

.menu {
  display: flex;
  gap: 40px;



}
.menu a, .logo {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.menu a:hover, .logo:hover{
  color: rgb(152, 152, 152);
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  list-style: none;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
}
.dropdown-content a:hover {
  color: rgb(152, 152, 152);
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item2 img{
  width: 20px;
  text-decoration: none;
  margin-right: 10px;

}

.dropdown-item2:hover{
  color: rgb(152, 152, 152);
}

.valikko {
  position: relative;
  display: inline-block;
  
}

.valikko-toggle {
  background-color:transparent;
  color: white;
  padding: 5px 20px 5px 20px;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.valikko-toggle:hover {
  color: rgb(152, 152, 152);
}

.valikko-content {
  display: none;
  position: absolute;
  min-width: 140px;
  z-index: 1;
  list-style: none;
}

.valikko-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
}



.valikko-item:hover {
  background-color: #f1f1f1;
}

.valikko-content.show {
  display: block;
  left: -20px;
}

.headline{
  padding-bottom: 50px;
}



.nakymaContainer{
  background-color:rgb(16, 15, 15);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  height: auto;
  color: white;
  padding-top: 50px;
}


.projektiContainer{
  background-color:rgb(16, 15, 15);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  color: white;
   
}



.embed-responsive-item{
  width: 500px;
  height: 500px;
}




.carousel {
  margin-top: 50px;
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}
    


.carousel-item img {
  border: 2px solid rgba(0, 0, 0, 0.368);
  border-radius: 7px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
 
}


#omaesittely {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 200px;
}
#omakuva{
  margin-top: 50px;
  margin-bottom: 100px;
}


.nakyma{
  flex: 1;
  justify-content:center;
  align-items: center;
  margin-bottom: 200px;
 
}

.round-img{
  width: 600px;
  max-width: 100%;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 10%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 60%);
}

.round-img2{
  width: 800px;
  max-width: 100%;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 20%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 60%);
}

#esittelyteksti {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.infokuvat{
  width: 70%;
  height: auto;
  max-width: 70%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  
}


.tekstit p {
 
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
  max-width: 90%;
  margin: 0 auto;
 
}

.tekstit p.visible {
  font-size: medium;
  opacity: 1;
  transform: translateY(0);
 

}


.dropdown-item img{
  width: 30px;
  align-items: center;
  margin-right: 10px;

}


.copy-button {
  cursor: pointer;
  background-color: #5757574f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}
.copied-message {
  background-color: #007a109d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.table-bordered{
  background-color: white;

}


footer{

  justify-content:center;
  align-items: center;
  padding-right: 10px;
  text-align: right;
  color: white;
  background-color:rgb(16, 15, 15);
  font-size: small;
  width: 100%;
}






@media (max-width:990px){
  #navi {
    display:none;
    flex-direction: row;
  
    
  }



  
  .carousel {
    margin-top: 50px;
    max-width: 80%;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}

  .carousel-item img{
    max-width: 100%;
    max-height: 400px;
  
  }

  .peli-ikkuna iframe{
    width: 80%;
    height: 50vh;
      

  }

  .omakuva {
    width: 100%;
    height: auto;
    max-width: 100%;
  
  }



}

@media (min-width:1001px){


  .peli-ikkuna iframe{
    width: 500px;
    height: 500px;
      

  }


}


