body{
  font-family: "Arima", system-ui, sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

}

#logo img{
  width: 50px;
}



.nakymaContainer{
  background-color:rgb(16, 15, 15);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  height: auto;
  color: white;
  padding-top: 50px;
}


.projektiContainer{
  background-color:rgb(16, 15, 15);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  color: white;
   
}

.embed-responsive-item{
  width: 500px;
  height: 500px;
}




.carousel {
  margin-top: 50px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}
    


.carousel-item img {
  border: 2px solid rgba(0, 0, 0, 0.368);
  border-radius: 7px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
 
}






#nakyma{
  justify-content:center;
  align-items: center;
 

  
}

#nakyma img{
  max-width: 100%;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 50%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 50%);
}

#esittelyteksti {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.infokuvat{
  width: 70%;
  height: auto;
  max-width: 70%;

  opacity: 0;
  transition: opacity 1s ease-in-out;
  
}

#omakuva {
  width: 50%;
  height: auto;
  max-width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#esittelyteksti{
  margin-top: 50px;
}

.tekstit {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  
}


#omakuva.visible {
  opacity: 1;
}

.tekstit.visible {
  opacity: 1;
  transform: translateX(0);
}

.dropdown-item img{
  width: 30px;
  align-items: center;
  margin-right: 10px;

}



footer{

  justify-content:center;
  align-items: center;
  padding-right: 10px;
  text-align: right;
  color: white;
  background-color:rgb(16, 15, 15);
  font-size: small;
  width: 100%;


}

@media (max-width:1300px){



  
  .carousel {
    margin-top: 50px;
    max-width: 80%;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.carousel-item img{
  max-width: 100%;
  max-height: 400px;
 
}

  .peli-ikkuna iframe{
    width: 80%;
    height: 50vh;
    

}

#omakuva {
  width: 100%;
  height: auto;
  max-width: 100%;
 
}



}


