.mobilenav {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}

.mobilenav_button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    height: 20px;
    width: 100px;
    transform: translateX(-50%);
    border: 1px solid rgb(44, 44, 44);
    border-radius: 10px;
    background-color: rgba(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px 1px rgba(56, 56, 56, 0.521);

}

.mobilenav_button::after, .mobile-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    height: 1px;
    background-color: rgb(97, 97, 97);
    transform: translateY(-50%);
}


.mobile-close {
    height: 20px;
    width: 100px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 10px;
    background-color: rgba(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.521);
  
}


.mobilenav_content {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    background-color:azure;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: max-height 0.7s ease-out;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    
}

.mobilenav_content.open {
    max-height: 500px;
    transition: max-height 0.7s ease-out;
    
  
}

.scrollable-content1 {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
    padding-left: 50px;
}

.home-link {
    position: absolute;
    left:-10px;
    z-index: 2;
    background: azure;
    margin-left: 40px;
    padding-right: 10px;
    width: 50px;
    
}

.scrollable-content1 a {
    flex-shrink: 0;
    margin: 0 10px;
}

.scrollable-content3 {
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
    justify-content: space-around;

}

.scrollable-content1 a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.scrollable-content1 img {
    width: 25px;
    height: 25px;
    border-radius: 3px;
}
.scrollable-content3 a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.scrollable-content3 img {
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

.scrollable-content2 {
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
}



.scrollable-content2 a {
    margin: 5px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.scrollable-content2 img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
}


.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
  }
.button-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 140%;
}




  
  .large-image-container {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    width: 75%;
    height: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.568);
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
  }
  
  .large-image-container img {
    max-width: 100%;
    width: 100%;
    height: 100%;
   
    border-radius: 3px;
  }
  
  .large-image-container.active {
    display: block;
  }

 



@media (max-width: 800px) {
    .mobilenav {
        display: block;
    }
}





