.mobilenav {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}

.mobilenav_button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: auto;
    height: 40px;
    transform: translateX(-50%);
    border: 2px solid rgb(63, 63, 63);
    border-radius: 20px;
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.mobile-close {
 
    height: 40px;
    width: auto;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 20px;
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.mobile-close img {
    max-width: 40%;
    max-height: 50%;
    padding-right: 5px;


   
}


.mobilenav_button img {
    max-width: 40%;
    max-height: 50%;
    padding-right: 5px;
   
}



.mobilenav_content {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    background-color:azure;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: max-height 0.8s ease-out;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    
  
}

.mobilenav_content.open {
    max-height: 500px;
    transition: max-height 0.8s ease-out;
  
}


.scrollable-content1 {
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
    justify-content: space-around;

}

.scrollable-content1 a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.scrollable-content1 img {
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

.scrollable-content2 {
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
}



.scrollable-content2 a {
    margin: 5px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.scrollable-content2 img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
}


.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
  }
.button-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 140%;
}


  
  .large-image-container {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.568);
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
  }
  
  .large-image-container img {
    max-width: 100%;
    width: 100%;
    max-height: 50vh;
    display: block;
    height: 300px;
    border-radius: 3px;
  }
  
  .large-image-container.active {
    display: block;
  }

 



@media (max-width: 800px) {
    .mobilenav {
        display: block;
    }
}





